gymnasium==1.2.2
matplotlib==3.7.2        # compatible with Python 3.10
numpy>=1.26.0,<2.3       # valid latest stable Numpy versions
pybullet==3.2.7
stable-baselines3==2.7.0
clearml==2.0.2

# Experiment Tracking
wandb>=0.15.0
tensorboard>=2.14.0 


# Visualization
matplotlib>=3.7.0
seaborn>=0.12.0
imageio>=2.31.0
Pillow>=10.0.0

tqdm>=4.65.0
scipy>=1.10.0
